@use '../util' as *;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-secondary;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.8;
  color: var(--color-text-dark-primary);
}

button {
  border: none;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  color: inherit;
  width: max-content;
  height: max-content;
}

input,
button,
textarea {
  border: 0;
  outline: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  user-select: none;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style-type: none;
}

a,
a:visited,
a:active {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: var(--transition);
}

a:hover,
button:hover,
figcaption:hover {
  transition: var(--transition);
}

.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.overflowhidden {
  overflow: hidden;
}

small {
  display: block;
  background-color: var(--color-dark-navy);
  font-family: $font-primary;
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-text-dark-tint);
  letter-spacing: rem(1);
  padding-bottom: rem(32);

  @include breakpoint(large) {
    position: fixed;
    bottom: 110px;
    right: rem(40);
    transform: rotate(90deg);
    transform-origin: top right;
    background-color: transparent;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 15px;
      height: 1px;
      width: 42px;
      background: var(--color-text-dark-tint);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 8;
  transition: var(--transition);
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
