:root {
  --color-dark-navy: hsl(218, 83%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 93%);
  --color-accent: #7585ff;
  --color-accent-tint: hsla(233, 100%, 73%, 0.5);
  --color-accent-tint-double: hsla(233, 100%, 73%, 0.1);
  --color-text-light-primary: hsl(0, 0%, 97%);
  --color-text-light-tint: hsl(0, 0%, 69%);
  --color-text-dark-primary: hsl(0, 0%, 9%);
  --color-text-dark-tint: hsl(0, 0%, 50%);
}
