@use '../util' as util;

h1,
h2,
h3 {
  font-family: util.$font-primary;
  font-weight: bold;
  margin-top: 0;
}

h1 {
  font-size: clamp(util.rem(48), util.rem(34) + 2vw, util.rem(72));
}

h2 {
  font-size: clamp(util.rem(38), util.rem(24) + 2vw, util.rem(62));
}

h3 {
  font-size: clamp(util.rem(28), util.rem(14) + 2vw, util.rem(36));
}

p {
  font-size: clamp(util.rem(10), util.rem(8) + 1vw, util.rem(16));
  margin-top: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: var(--transition);
}

a:hover {
  color: var(--color-accent);
}
