@use '../util' as *;

h1,
h2,
h3 {
  font-family: $font-primary;
  font-weight: 700;
  margin-top: 0;
  line-height: initial;
}

h1 {
  font-size: rem(82);
}

h2 {
  font-size: rem(62);
  color: var(--color-accent);
}

h3 {
  font-size: rem(36);
  color: var(--color-accent);
}
