/* GLOBAL STYLE */
:root {
  /* COLOR */
  --color-bg-body: hsl(217, 83%, 7%);
  --color-bg-contact: hsl(218, 58%, 16%);
  --theme-color-accent: #5d71ff;
  --color-accent: hsl(233, 100%, 73%);
  --color-accent-tint: hsla(233, 100%, 73%, 0.1);
  --color-invalid: hsl(7, 100%, 60%);
  --color-text-primary: hsl(0, 0%, 97%);
  --color-text-secondary: hsl(0, 0%, 69%);

  /* FONT */
  --font-family-primary: "Open Sans", sans-serif;
  --font-family-accent: "Bitter", serif;
  --fs-2: 0.125rem;
  --fs-4: 0.25rem;
  --fs-6: 0.375rem;
  --fs-8: 0.5rem;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-72: 4.5rem;
  --fs-88: 5.5rem;

  /* ETC */
  --container-header: 62rem;
  --container-main: 57rem;
  --border-radius: 0.25rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

/* prettier-ignore */
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-body);

  font-family: var(--font-family-primary);
  font-weight: normal;
  line-height: inherit;
  color: var(--color-text-primary);
  font-size: var(--fs-18);
  line-height: 1.56;
}

/* prettier-ignore */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-accent);
  font-weight: bold;
}

/* prettier-ignore */
ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: var(--transition);
}

a:hover {
  color: var(--color-accent);
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* prettier-ignore */
input, button, textarea {
  border-radius: 0;
}

textarea {
  resize: none;
}

img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  user-select: none;
}

/* HEADER STYLE */
.header {
  width: calc(100% - 3.75rem);
  max-width: var(--container-header);
  margin-inline: auto;
}

@media (min-width: 600px) {
  .header {
    width: calc(100% - 6.5rem);
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 7rem;
  width: 100%;
  z-index: 2;
}

.nav__logo {
  width: 3.3rem;
  height: 3.3rem;
  flex: 1 0;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 2rem;
}

.link--index {
  font-size: var(--fs-14);
  color: var(--color-accent);
}

.btn--resume > a {
  color: var(--color-accent);
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: var(--border-radius);
  padding: 0.65rem 1rem;
}

.btn--resume > a:hover {
  background-color: var(--color-accent-tint);
}

/* MAIN STYLE */
#main {
  width: calc(100% - 3.75rem);
  max-width: var(--container-main);
  margin-inline: auto;
}

@media (min-width: 600px) {
  /* Device width is greater than 600px */
  #main {
    width: calc(100% - 6.5rem);
  }
}

.section {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.section--top {
  margin: 5rem 0;
}

.main__header {
  grid-column-start: span 7;
  align-self: center;
}

.main__title {
  font-family: var(--font-family-accent);
  font-size: 2.5rem;
  font-size: clamp(3.5rem, 0.59rem + 8.14vw, 4.5rem);
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 2rem;
}

.title--bold {
  font-weight: bold;
}

.main__sub-title {
  font-weight: lighter;
}

.btn--main {
  background-color: ;
}

.main__figure {
  grid-column-end: span 5;
}
