html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  font-weight: normal;
  line-height: 1.8;
  color: var(--color-text-dark-primary);
}
button {
  border: none;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
input,
button,
textarea {
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
}
textarea {
  resize: none;
}
img {
  width: auto;
  height: auto;
  display: block;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol,
li {
  list-style-type: none;
}
a,
a:visited,
a:active {
  width: 100%;
  height: auto;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: var(--transition);
}
a:hover,
button:hover,
figcaption:hover {
  transition: var(--transition);
}
.visuallyhidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.overflowhidden {
  overflow: hidden;
}
small {
  display: block;
  background-color: var(--color-dark-navy);
  font-family: 'Bitter', serif;
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
  color: var(--color-text-dark-tint);
  letter-spacing: 0.0625rem;
  padding-bottom: 2rem;
}
@media (min-width: 63rem) {
  small {
    position: fixed;
    bottom: 110px;
    right: 2.5rem;
    transform: rotate(90deg);
    transform-origin: top right;
    background-color: rgba(0, 0, 0, 0);
  }
  small:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    height: 1px;
    width: 42px;
    background: var(--color-text-dark-tint);
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 8;
  transition: var(--transition);
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
h1,
h2,
h3 {
  font-family: 'Bitter', serif;
  font-weight: 700;
  color: var(--color-accent);
  margin-top: 0;
  line-height: initial;
}
h1 {
  font-size: clamp(2.875rem, -0.3977rem + 8.1818vw, 5.125rem);
}
h2 {
  font-size: clamp(2.5rem, -0.1136rem + 5.9091vw, 3.875rem);
}
h3 {
  font-size: clamp(1.375rem, 0.1023rem + 3.1818vw, 2.25rem);
}
:root {
  --color-dark-navy: hsl(218, 83%, 7%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(0, 0%, 93%);
  --color-accent: #7585ff;
  --color-accent-tint: hsla(233, 100%, 73%, 0.5);
  --color-accent-tint-double: hsla(233, 100%, 73%, 0.1);
  --color-text-light-primary: hsl(0, 0%, 97%);
  --color-text-light-tint: hsl(0, 0%, 69%);
  --color-text-dark-primary: hsl(0, 0%, 9%);
  --color-text-dark-tint: hsl(0, 0%, 50%);
}
:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
hgroup {
  display: grid;
  align-items: center;
  max-width: 62.5rem;
  padding: 0rem 2rem;
  margin-inline: auto;
}
@media (min-width: 40rem) {
  hgroup {
    grid-template-columns: 60% 1fr;
    padding: 2rem 3.5rem;
  }
}
@media (min-width: 63rem) {
  hgroup {
    padding: 5rem 2rem 3.5rem;
  }
}
hgroup article {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 40rem) {
  hgroup article {
    text-align: left;
    margin-bottom: 0;
  }
}
hgroup article h1 {
  color: var(--color-text-light-primary);
  font-weight: lighter;
  line-height: 1;
  margin-bottom: 1.375rem;
}
@media (min-width: 63rem) {
  hgroup article h1 {
    margin-bottom: 2rem;
  }
}
hgroup article h1 span {
  font-weight: bold;
  color: var(--color-accent);
}
hgroup article p {
  max-width: 100%;
  font-size: clamp(1rem, 0.6364rem + 0.9091vw, 1.25rem);
  line-height: 1.7;
}
@media (min-width: 40rem) {
  hgroup article p {
    max-width: 90%;
  }
}
hgroup article p span {
  color: var(--color-accent);
  font-weight: bold;
}
hgroup figure {
  position: relative;
  display: inline-block;
  width: 72%;
  margin: 0 auto;
}
@media (min-width: 40rem) {
  hgroup figure {
    width: 100%;
  }
}
hgroup figure img {
  position: relative;
  width: 100%;
  z-index: 2;
}
hgroup figure .shape-symbol {
  width: 4.375rem;
  fill: var(--color-accent);
  position: absolute;
  top: 1.875rem;
  left: -2rem;
  z-index: 3;
}
@media (min-width: 40rem) {
  hgroup figure .shape-symbol {
    width: 25%;
    left: -10%;
  }
}
hgroup figure .shape-rectangle {
  width: 23.75rem;
  fill: var(--color-accent);
  position: absolute;
  bottom: -1.125rem;
  right: -1.125rem;
}
@media (min-width: 40rem) {
  hgroup figure .shape-rectangle {
    bottom: -5%;
    right: -5%;
  }
}
header {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-primary);
  padding: 4.375rem 0;
}
header nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
  max-width: 75rem;
}
@media (min-width: 63rem) {
  header nav {
    width: auto;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    border-radius: 0.25rem;
  }
}
header nav.sticky {
  position: fixed !important;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 9;
}
@media (min-width: 63rem) {
  header nav.sticky {
    height: 5rem;
  }
}
header nav.sticky > .nav__container {
  height: 5rem;
  margin-top: 0;
}
header nav .nav__container {
  max-width: 75rem;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding: 0 2rem;
}
@media (min-width: 40rem) {
  header nav .nav__container {
    height: 5rem;
  }
}
header nav .nav__container .logo {
  fill: var(--color-accent);
  z-index: 10;
  width: 2.375rem;
  height: 2.375rem;
}
@media (min-width: 40rem) {
  header nav .nav__container .logo {
    width: 2.625rem;
    height: 2.625rem;
    margin-right: 1rem;
  }
}
header nav .nav__container .main-menu {
  visibility: hidden;
  display: none;
  transform: translateX(100vw);
  transition: var(--transition);
}
@media (min-width: 63rem) {
  header nav .nav__container .main-menu {
    display: flex;
    align-items: center;
    visibility: visible;
    transform: translateX(0vw);
  }
}
header nav .nav__container .main-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: min(72vw, 400px);
  height: 100vh;
  background-color: var(--color-dark-navy);
  visibility: visible;
  transform: translateX(0vw);
  transition: var(--transition);
  z-index: 9;
}
header nav .nav__container .main-menu .nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 63rem) {
  header nav .nav__container .main-menu .nav__links {
    flex-direction: row;
  }
}
header nav .nav__container .main-menu .nav__links li {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
}
@media (min-width: 63rem) {
  header nav .nav__container .main-menu .nav__links li {
    font-size: 1rem;
  }
}
header nav .nav__container .main-menu .nav__links li a {
  color: var(--color-accent);
  font-weight: 500;
}
header nav .nav__container .main-menu .nav__links li a:hover {
  color: var(--color-accent-tint);
}
header nav .nav__container .main-menu .btn--resume > a {
  font-size: 1.25rem;
  color: var(--color-accent);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-accent);
  border-radius: 0.25rem;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2rem;
  margin: 2.625rem 0 0;
}
@media (min-width: 63rem) {
  header nav .nav__container .main-menu .btn--resume > a {
    font-size: 1rem;
    padding: 0.75rem 1.125rem;
    margin: 0 0 0 1rem;
  }
}
header nav .nav__container .main-menu .btn--resume > a:hover {
  background-color: var(--color-accent-tint-double);
}
header nav .nav__container .navbar-icon {
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 10;
}
@media (min-width: 63rem) {
  header nav .nav__container .navbar-icon {
    display: none;
  }
}
header nav .nav__container .navbar-icon span {
  display: flex;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: var(--color-accent);
  transition: var(--transition);
}
@media (min-width: 40rem) {
  header nav .nav__container .navbar-icon span {
    width: 35px;
  }
}
header nav .nav__container .navbar-icon span:before {
  content: '';
  width: 30px;
  height: 3px;
  position: absolute;
  top: 10px;
  background-color: var(--color-accent);
  transition: var(--transition);
}
@media (min-width: 40rem) {
  header nav .nav__container .navbar-icon span:before {
    width: 35px;
    top: 12px;
  }
}
header nav .nav__container .navbar-icon span:after {
  content: '';
  width: 30px;
  height: 3px;
  position: absolute;
  bottom: 10px;
  background-color: var(--color-accent);
  transition: var(--transition);
}
@media (min-width: 40rem) {
  header nav .nav__container .navbar-icon span:after {
    width: 35px;
    bottom: 12px;
  }
}
header nav .nav__container .navbar-icon.active span {
  background-color: rgba(0, 0, 0, 0);
}
header nav .nav__container .navbar-icon.active span:before {
  transform: rotate(45deg);
  top: 0;
}
header nav .nav__container .navbar-icon.active span:after {
  transform: rotate(-45deg);
  bottom: 0;
}
.about {
  background-color: var(--color-light-grey);
  padding: 2.5rem;
  margin: 0.875rem;
}
@media (min-width: 40rem) {
  .about {
    padding: 3.75rem;
    margin: 1.5rem;
  }
}
@media (min-width: 63rem) {
  .about {
    padding: 7.5rem 0;
    margin: 1.5rem;
  }
}
.about h2 {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .about h2 {
    grid-column: span 5;
  }
}
.about article {
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .about article {
    grid-column: span 7;
  }
}
.about article div:first-child {
  margin-bottom: 3rem;
}
@media (min-width: 40rem) {
  .about article div:first-child {
    margin-bottom: 4.5rem;
  }
}
.about article h3 {
  margin-bottom: 0.625rem;
}
@media (min-width: 40rem) {
  .about article h3 {
    margin-bottom: 1.125rem;
  }
}
.about article p {
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 40rem) {
  .about article p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}
.about article p span {
  color: var(--color-accent);
  font-weight: bold;
  border-bottom: 2px solid var(--color-accent);
}
.about article ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
.about article ul li {
  fill: var(--color-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about article ul li svg {
  width: 2rem;
}
@media (min-width: 40rem) {
  .about article ul li svg {
    width: 2.25rem;
  }
}
.experience {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-tint);
  padding: 3.375rem 0;
}
@media (min-width: 40rem) {
  .experience {
    padding: 7.5rem 4rem;
  }
}
.experience h2 {
  text-align: center;
  margin-bottom: 1.25rem;
  padding: 0 2rem;
}
@media (min-width: 40rem) {
  .experience h2 {
    margin-bottom: 2rem;
  }
}
.experience .experience__container {
  max-width: 56.25rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 40rem) {
  .experience .experience__container {
    flex-direction: row;
  }
}
.experience .experience__container menu {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-bottom: 1.3125rem;
  padding-left: 2rem;
}
@media (min-width: 40rem) {
  .experience .experience__container menu {
    flex-direction: column;
    overflow-x: initial;
    padding-left: 0;
  }
}
.experience .experience__container menu button {
  min-width: 9.375rem;
  font-size: 0.875rem;
  font-family: 'Bitter', serif;
  color: var(--color-accent-tint);
  text-align: center;
  border-bottom: 2px solid var(--color-accent-tint-double);
  border-left: none;
  padding: 0.625rem;
}
@media (min-width: 40rem) {
  .experience .experience__container menu button {
    font-size: 1rem;
    text-align: left;
    border-left: 4px solid var(--color-accent-tint-double);
    border-bottom: none;
    padding: 1rem;
  }
}
.experience .experience__container menu button:hover,
.experience .experience__container menu button.active {
  color: var(--color-accent);
}
.experience .experience__container menu hr {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 150px;
  background: var(--color-accent);
  border: none;
  transform: translateX(0);
  transition: var(--transition);
  margin-left: 2rem;
}
@media (min-width: 40rem) {
  .experience .experience__container menu hr {
    top: 0;
    width: 4px;
    height: 51px;
    transform: translateY(0);
    margin-left: 0;
  }
}
.experience .experience__container article {
  display: none;
  min-height: 21.875rem;
  margin-left: 1.125rem;
  padding: 0 2rem;
}
@media (min-width: 40rem) {
  .experience .experience__container article {
    margin-left: 1.875rem;
    padding: 0;
  }
}
.experience .experience__container article.active {
  display: block;
}
.experience .experience__container article p {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-accent);
  margin-bottom: 0.875rem;
}
@media (min-width: 40rem) {
  .experience .experience__container article p {
    font-size: 1.625rem;
  }
}
.experience .experience__container article p span {
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  margin-left: 0rem;
}
@media (min-width: 40rem) {
  .experience .experience__container article p span {
    display: inline;
    font-size: 1rem;
    margin-left: 1.25rem;
  }
}
.experience .experience__container article ul li {
  position: relative;
  font-size: 0.875rem;
  padding-left: 1.125rem;
  margin-bottom: 0.625rem;
}
@media (min-width: 40rem) {
  .experience .experience__container article ul li {
    font-size: 0.9375rem;
  }
}
.experience .experience__container article ul li::before {
  content: '';
  width: 0.3125rem;
  height: 0.3125rem;
  background-color: var(--color-accent);
  position: absolute;
  top: 10px;
  left: 0;
}
.projects {
  background-color: var(--color-light-grey);
  padding: 3.375rem 2rem;
  margin: 0.875rem;
}
@media (min-width: 40rem) {
  .projects {
    padding: 3.75rem;
    margin: 1.5rem;
  }
}
@media (min-width: 63rem) {
  .projects {
    padding: 7.5rem 0;
    margin: 1.5rem;
  }
}
.projects .project__header {
  display: flex;
  flex-flow: column;
  align-items: center;
  grid-column: span 12;
}
@media (min-width: 40rem) {
  .projects .project__header {
    flex-flow: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 0.75rem;
  }
}
.projects .project__header h2 {
  margin-bottom: 0.75rem;
  text-align: center;
}
@media (min-width: 40rem) {
  .projects .project__header h2 {
    margin-bottom: 0rem;
    text-align: left;
  }
}
.projects .project__header menu {
  position: relative;
  display: flex;
  align-items: center;
}
.projects .project__header menu button {
  min-width: 5rem;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--color-accent-tint);
  text-align: center;
  padding-bottom: 0.5rem;
  margin: 0.375rem;
  cursor: pointer;
}
@media (min-width: 40rem) {
  .projects .project__header menu button {
    min-width: 6.625rem;
    font-size: 1.5rem;
  }
}
.projects .project__header menu button:hover,
.projects .project__header menu button.active {
  color: var(--color-accent);
}
.projects .project__header menu hr {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 80px;
  background: var(--color-accent);
  border: none;
  transform: translateX(0);
  transition: var(--transition);
  margin: 0.375rem;
}
@media (min-width: 40rem) {
  .projects .project__header menu hr {
    width: 106px;
    height: 4px;
  }
}
.projects .project__content {
  display: none;
  grid-column: span 12;
}
.projects .project__content.active {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0.875rem;
  margin-inline: auto;
}
@media (min-width: 40rem) {
  .projects .project__content.active {
    gap: 1rem;
  }
}
@media (min-width: 63rem) {
  .projects .project__content.active {
    gap: 1.25rem;
  }
}
.projects .project__content figure {
  grid-column: span 12;
  background-color: var(--color-white);
  margin-bottom: 0;
}
@media (min-width: 40rem) {
  .projects .project__content figure {
    grid-column: span 6;
    margin-bottom: 1rem;
  }
}
@media (min-width: 63rem) {
  .projects .project__content figure {
    grid-column: span 4;
  }
}
.projects .project__content figure img {
  width: 100%;
  background-color: var(--color-accent);
}
.projects .project__content figure figcaption {
  padding: 0.875rem 1.5rem 1.375rem;
}
.projects .project__content figure figcaption h3 {
  font-family: 'Bitter', serif;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 40rem) {
  .projects .project__content figure figcaption h3 {
    font-size: 1.125rem;
  }
}
@media (min-width: 63rem) {
  .projects .project__content figure figcaption h3 {
    font-size: 1.375rem;
  }
}
.projects .project__content figure figcaption .project__buttons {
  display: flex;
  gap: 0.375rem;
}
.projects .project__content figure figcaption .project__buttons button {
  width: 7.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--color-accent);
  text-align: center;
  border: 1.5px solid var(--color-accent);
  border-radius: 0.1875rem;
  padding: 0.5rem 0.75rem;
}
.projects .project__content figure figcaption .project__buttons button:hover {
  background-color: var(--color-accent-tint-double);
}
footer {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-primary);
  padding: 3.75rem 2.875rem;
}
@media (min-width: 40rem) {
  footer {
    padding: 4rem;
  }
}
@media (min-width: 63rem) {
  footer {
    padding: 6.25rem;
  }
}
footer article {
  grid-column: span 12;
  padding-right: 0;
  margin-bottom: 2rem;
}
@media (min-width: 40rem) {
  footer article {
    grid-column: span 6;
    padding-right: 1.875rem;
  }
}
footer article p {
  font-size: 0.875rem;
  margin-top: 0.625rem;
  margin-bottom: 1.375rem;
}
@media (min-width: 40rem) {
  footer article p {
    font-size: 1rem;
    margin-bottom: 1.75rem;
  }
}
footer article ul {
  display: flex;
  margin-right: 1rem;
}
footer article ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 2rem;
  margin-right: 1rem;
}
footer article ul li a {
  fill: var(--color-accent);
}
footer article ul li a:hover {
  fill: var(--color-accent-tint);
}
footer form {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
}
@media (min-width: 40rem) {
  footer form {
    grid-column: span 6;
  }
}
footer form label {
  color: var(--color-accent);
  font-size: 0.875rem;
}
footer form input,
footer form textarea {
  color: var(--color-accent);
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid var(--color-accent);
  padding: 0.375rem 0 0.875rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 40rem) {
  footer form input,
  footer form textarea {
    font-size: 1.125rem;
  }
}
footer form button {
  max-width: 7.5rem;
  font-size: 0.875rem;
  color: var(--color-accent);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-accent);
  border-radius: 0.25rem;
  padding: 0.75rem 1.125rem;
  margin-top: 0.375rem;
}
@media (min-width: 40rem) {
  footer form button {
    font-size: 1rem;
  }
}
footer form button:hover {
  background-color: var(--color-accent-tint-double);
}
.grid {
  max-width: 56.25rem;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 0.875rem;
  margin-inline: auto;
}
@media (min-width: 40rem) {
  .grid {
    gap: 1rem;
  }
}
@media (min-width: 63rem) {
  .grid {
    gap: 1.25rem;
  }
} /*# sourceMappingURL=style.css.map */
