@use '../util' as *;

footer {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-primary);
  padding: rem(60) rem(46);

  @include breakpoint(medium) {
    padding: rem(64);
  }

  @include breakpoint(large) {
    padding: rem(100);
  }

  article {
    grid-column: span 12;
    padding-right: 0;
    margin-bottom: rem(32);

    @include breakpoint(medium) {
      grid-column: span 6;
      padding-right: rem(30);
    }

    p {
      font-size: rem(14);
      margin-top: rem(10);
      margin-bottom: rem(22);

      @include breakpoint(medium) {
        font-size: rem(16);
        margin-bottom: rem(28);
      }
    }

    ul {
      display: flex;
      margin-right: rem(16);

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: rem(32);
        margin-right: rem(16);

        a {
          fill: var(--color-accent);

          &:hover {
            fill: var(--color-accent-tint);
          }
        }
      }
    }
  }

  form {
    grid-column: span 12;
    display: flex;
    flex-direction: column;

    @include breakpoint(medium) {
      grid-column: span 6;
    }

    label {
      color: var(--color-accent);
      font-size: rem(14);
    }

    input,
    textarea {
      color: var(--color-accent);
      font-size: rem(14);
      font-family: $font-secondary;
      border-bottom: 1px solid var(--color-accent);
      padding: rem(6) 0 rem(14);
      margin-bottom: rem(24);

      @include breakpoint(medium) {
        font-size: rem(18);
      }
    }

    button {
      max-width: rem(120);
      font-size: rem(14);
      color: var(--color-accent);
      background-color: transparent;
      border: 1px solid var(--color-accent);
      border-radius: rem(4);
      padding: rem(12) rem(18);
      margin-top: rem(6);

      @include breakpoint(medium) {
        font-size: rem(16);
      }

      &:hover {
        background-color: var(--color-accent-tint-double);
      }
    }
  }
}
