@use '../util' as util;

footer {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-primary);
  padding: util.em(100);

  article {
    grid-column: span 5;

    p {
      margin-top: util.em(10);
      margin-bottom: util.em(28);
    }

    ul {
      display: flex;
      margin-right: util.em(16);

      li {
        fill: var(--color-accent);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: util.em(16);

        &:hover {
          fill: var(--color-accent-tint);
        }

        svg {
          width: 2rem;
        }
      }
    }
  }

  form {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;

    label {
      color: var(--color-accent);
      font-size: util.rem(14);
    }

    input,
    textarea {
      color: var(--color-accent);
      font-size: util.rem(18);
      font-family: util.$font-secondary;
      border-bottom: 1px solid var(--color-accent);
      padding: util.em(6) 0 util.em(14);
      margin-bottom: util.em(24);
    }

    button {
      max-width: util.em(120);
      font-size: util.rem(16);
      color: var(--color-accent);
      background-color: transparent;
      border: 1px solid var(--color-accent);
      border-radius: util.rem(4);
      padding: util.rem(12) util.rem(18);
      margin-top: util.rem(6);

      &:hover {
        background-color: var(--color-accent-tint-double);
      }
    }
  }
}
