@use '../util' as *;

.grid {
  max-width: rem(900);
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: rem(14);
  margin-inline: auto;

  @include breakpoint(medium) {
    gap: rem(16);
  }

  @include breakpoint(large) {
    gap: rem(20);
  }
}
