@use '../util' as *;
hgroup {
  display: grid;
  align-items: center;
  max-width: rem(1000);
  padding: 0 rem(32);
  margin-inline: auto;

  @include breakpoint(medium) {
    grid-template-columns: 60% 1fr;
    padding: rem(32) rem(64);
  }

  @include breakpoint(large) {
    padding: rem(80) rem(32);
  }

  article {
    text-align: center;
    margin-bottom: rem(48);

    @include breakpoint(medium) {
      text-align: left;
      margin-bottom: 0;
    }

    h1 {
      color: var(--color-text-light-primary);
      font-weight: lighter;
      line-height: 1;
      margin-bottom: rem(22);

      @include breakpoint(large) {
        margin-bottom: rem(32);
      }

      span {
        font-weight: bold;
        color: var(--color-accent);
      }
    }

    p {
      max-width: 100%;
      font-size: clamp(1rem, 0.6364rem + 0.9091vw, 1.25rem);
      line-height: 1.7;
      margin-bottom: rem(22);

      @include breakpoint(medium) {
        max-width: 90%;
        margin-bottom: rem(32);
      }

      span {
        color: var(--color-accent);
        font-weight: bold;
      }
    }

    button {
      color: var(--color-accent);
      font-size: clamp(1rem, 0.6364rem + 0.9091vw, 1.25rem);
      font-weight: bold;
      text-transform: uppercase;

      background: linear-gradient(
        to right,
        var(--color-accent) 50%,
        var(--color-dark-navy) 50%
      );
      background-position: 100%;
      background-size: 220% 100%;
      transition: var(--transition);
      padding: rem(12) rem(20);
      margin-left: 0;

      @include breakpoint(medium) {
        margin-left: rem(-20);
      }

      &:hover {
        color: var(--color-dark-navy);
        background-position: 0 100%;
      }
    }
  }

  figure {
    position: relative;
    display: inline-block;
    width: 72%;
    margin: 0 auto;

    @include breakpoint(medium) {
      width: 100%;
    }

    img {
      position: relative;
      width: 100%;
      z-index: 2;
    }

    .shape-symbol {
      width: rem(70);
      fill: var(--color-accent);
      position: absolute;
      top: rem(30);
      left: rem(-32);
      z-index: 3;

      @include breakpoint(medium) {
        width: 25%;
        left: -10%;
      }
    }

    .shape-rectangle {
      width: rem(380);
      fill: var(--color-accent);
      position: absolute;
      bottom: rem(-18);
      right: rem(-18);

      @include breakpoint(medium) {
        bottom: -5%;
        right: -5%;
      }
    }
  }
}
