@use '../util' as *;

header {
  height: 100vh;
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-primary);

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    padding: rem(32) rem(32);
    z-index: 9999;

    @include breakpoint(medium) {
      padding: rem(32) rem(60);
    }

    @include breakpoint(large) {
      padding: rem(32) rem(120);
    }

    &.sticky {
      position: fixed;
      backdrop-filter: blur(20px);
      color: var(--color-accent);
    }

    .logo {
      fill: var(--color-accent);
      width: rem(52.8);
      height: rem(52.8);
    }

    .nav__bar {
      visibility: hidden;
      display: flex;

      &.active {
        visibility: visible;
      }

      @include breakpoint(large) {
      }

      .nav__links {
        display: flex;
        align-items: center;

        li {
          font-size: rem(16);
          margin-right: rem(32);
          font-family: $font-secondary;

          a:hover {
            color: var(--color-accent-tint);
          }

          span {
            font-size: rem(14);
            color: var(--color-accent);
          }
        }
      }

      .btn--resume > a {
        font-size: rem(16);
        color: var(--color-accent);
        background-color: transparent;
        border: 1px solid var(--color-accent);
        border-radius: 4px;
        padding: rem(12) rem(18);

        &:hover {
          background-color: var(--color-accent-tint-double);
        }
      }
    }

    .navbar-icon {
      // display: flex;

      @include breakpoint(large) {
        display: none;
      }

      span {
        display: block;
        position: relative;
        width: rem(50);
        height: rem(3);
        background-color: var(--color-accent);

        &:before,
        &:after {
          content: '';
          width: rem(50);
          height: rem(3);
          position: absolute;
          background-color: var(--color-accent);
        }

        &:before {
          top: 12px;
        }

        &:after {
          bottom: 12px;
        }

        &.active {
          span {
            background-color: transparent;

            &:before {
              transform: rotate(45deg);
              bottom: 0;
            }

            &:after {
              transform: rotate(45deg);
              bottom: 0;
            }
          }
        }
      }
    }
  }

  hgroup {
    display: grid;
    max-width: rem(1000);
    padding: rem(32) rem(60);
    margin-inline: auto;

    @include breakpoint(medium) {
    }

    @include breakpoint(large) {
      grid-template-columns: 60% 1fr;
      // grid-auto-flow: column;

      padding: rem(80) 0;
    }

    article {
      h1 {
        font-weight: lighter;
        line-height: 1;
        margin-bottom: rem(38);

        span {
          font-weight: bold;
        }
      }

      p {
        font-size: rem(28);
        line-height: 1.56;
        margin-bottom: rem(50);

        span {
          color: var(--color-accent);
          font-weight: bold;
        }
      }

      button {
        color: var(--color-accent);
        font-size: rem(20);
        padding: 0 rem(8) rem(8);
        border-bottom: 2px solid var(--color-accent);

        &:hover {
          color: var(--color-accent-tint);
          border-bottom: 2px solid var(--color-accent-tint);
        }
      }
    }

    figure {
      position: relative;

      img {
        position: absolute;
        z-index: 2;
        width: rem(370);
      }

      .shape-symbol {
        width: rem(100);
        fill: var(--color-accent);
        position: absolute;
        top: 30px;
        left: -40px;
        z-index: 3;
      }

      .shape-rectangle {
        width: rem(350);
        fill: var(--color-accent);
        position: absolute;
        bottom: -50px;
        right: -25px;
      }
    }
  }
}
