@use '../util' as *;

.experience {
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-tint);
  padding: rem(54) rem(32);

  @include breakpoint(medium) {
    padding: rem(120) rem(64);
  }

  .experience__container {
    max-width: rem(760);
    margin: 0 auto;

    h2 {
      text-align: center;
      margin-bottom: rem(20);

      @include breakpoint(medium) {
        margin-bottom: rem(32);
      }
    }

    menu {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      margin-bottom: rem(24);

      @include breakpoint(medium) {
        margin-bottom: rem(32);
      }

      button {
        width: 33.33%;
        font-size: rem(16);
        font-family: $font-primary;
        color: var(--color-accent-tint);
        border-bottom: 4px solid var(--color-accent-tint-double);
        padding: rem(10);

        @include breakpoint(medium) {
          font-size: rem(24);
          padding: rem(10) rem(16);
        }

        &:hover,
        &.active {
          color: var(--color-accent);
        }
      }

      hr {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 33.33%;
        background: var(--color-accent);
        border: none;
        transition: var(--transition);
      }

      .bar-1 {
        margin-left: 0;
      }

      .bar-2 {
        margin-left: 33.33%;
      }

      .bar-3 {
        margin-left: 66.66%;
      }
    }

    article {
      display: none;
      min-height: rem(260);
      margin-left: rem(20);

      &.active {
        display: block;
      }

      p {
        font-size: rem(18);
        font-weight: bold;
        color: var(--color-accent);
        margin-bottom: rem(16);

        @include breakpoint(medium) {
          font-size: rem(26);
        }

        span {
          display: block;
          font-size: rem(14);
          font-weight: normal;
          margin-left: rem(0);

          @include breakpoint(medium) {
            display: inline;
            font-size: rem(16);
            margin-left: rem(20);
          }
        }
      }

      ul {
        li {
          position: relative;
          font-size: rem(14);
          padding-left: rem(18);
          margin-bottom: rem(10);

          @include breakpoint(medium) {
            font-size: rem(16);
          }
        }

        li::before {
          content: '';
          width: rem(5);
          height: rem(5);
          background-color: var(--color-accent);
          position: absolute;
          top: 10px;
          left: 0;
        }
      }
    }
  }
}
