@use '../util' as *;

.experience {
  min-height: rem(660);
  background-color: var(--color-dark-navy);
  color: var(--color-text-light-tint);
  padding: rem(120) 0;

  h2 {
    text-align: center;
    grid-column: span 12;
    margin-bottom: rem(4);
  }

  menu {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    position: relative;

    button {
      min-width: 33.33%;
      font-size: rem(24);
      font-family: $font-primary;
      color: var(--color-accent-tint);
      border-bottom: 4px solid var(--color-accent-tint-double);
      padding: rem(10) rem(16);

      &:hover,
      &.active {
        color: var(--color-accent);
      }
    }

    hr {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 4px;
      width: 33.33%;
      background: var(--color-accent);
      border: none;
      transition: var(--transition);
    }

    .tab-1:focus ~ hr {
      margin-left: 0;
    }

    .tab-2:focus ~ hr {
      margin-left: 33.33%;
    }

    .tab-3:focus ~ hr {
      margin-left: 66.66%;
    }
  }

  article {
    display: none;
    grid-column: span 12;
    margin-left: rem(64);

    &.active {
      display: block;
    }

    p {
      font-size: rem(22);
      color: var(--color-accent);
      margin: rem(8) 0;

      span {
        font-size: rem(16);
        margin-left: rem(20);
      }
    }

    ul {
      li {
        margin-left: rem(3);
        margin-bottom: rem(6);
      }

      li::before {
        content: '';
        width: rem(5);
        height: rem(5);
        background-color: var(--color-accent);
        margin-right: rem(5);
        vertical-align: 10%;
        display: inline-block;
      }
    }
  }
}
