@use '../util' as *;

.projects {
  background-color: var(--color-light-grey);
  padding: rem(60) rem(40);
  margin: rem(14);

  @include breakpoint(medium) {
    padding: rem(60);
    margin: rem(24);
  }

  @include breakpoint(large) {
    padding: rem(120) 0;
    margin: rem(24);
  }

  h2 {
    grid-column: span 12;
    gap: 0;
    margin-bottom: rem(4);
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  figure {
    grid-column: span 12;
    background-color: var(--color-white);
    margin-bottom: 0;
    transition: var(--transition);

    @include breakpoint(medium) {
      grid-column: span 6;
      margin-bottom: rem(16);
    }

    @include breakpoint(large) {
      grid-column: span 4;
    }

    img {
      width: 100%;
      background-color: var(--color-accent);
    }

    figcaption {
      padding: rem(14) rem(24) rem(22);

      h3 {
        font-family: $font-primary;
        font-size: rem(16);

        margin-bottom: rem(7);

        @include breakpoint(medium) {
          font-size: rem(16);
        }

        @include breakpoint(large) {
          font-size: rem(20);
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: rem(4);

        li {
          font-size: rem(10);
          font-weight: bold;
          text-transform: uppercase;
          color: var(--color-white);
          background-color: var(--color-accent);
          padding: rem(4) rem(10);
        }
      }
    }
  }
}
