@use '../util' as *;

.about {
  background-color: var(--color-light-grey);
  padding: rem(40);
  margin: rem(14);

  @include breakpoint(medium) {
    padding: rem(60);
    margin: rem(24);
  }

  @include breakpoint(large) {
    padding: rem(120) 0;
    margin: rem(24);
  }

  h2 {
    grid-column: span 12;

    @include breakpoint(medium) {
      grid-column: span 5;
    }
  }

  article {
    grid-column: span 12;

    @include breakpoint(medium) {
      grid-column: span 7;
    }

    div:first-child {
      margin-bottom: rem(48);

      @include breakpoint(medium) {
        margin-bottom: rem(72);
      }
    }

    h3 {
      margin-bottom: rem(10);

      @include breakpoint(medium) {
        margin-bottom: rem(18);
      }
    }

    p {
      font-size: rem(14);
      margin-bottom: rem(20);

      @include breakpoint(medium) {
        font-size: rem(16);
        margin-bottom: rem(32);
      }

      span {
        color: var(--color-accent);
        font-weight: bold;
        border-bottom: 2px solid var(--color-accent);
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: rem(12);

      li {
        fill: var(--color-accent);
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-right: rem(12);

        svg {
          width: rem(32);

          @include breakpoint(medium) {
            width: rem(36);
          }
        }
      }
    }
  }
}
